.navbar {
  margin: 0px auto;
  display: flex;
  height: 45px;
  justify-content: center;
  background-color: rgba(233, 200, 200, 0.8); 
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  position: relative;
  /* padding-top: 9px; */
}
.navbar_logo {
  position: absolute;
  top: 18%; 
  margin-left: 10px;
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* z-index: 10; нельзя!!!*/
  /* background-image: url("../img/logo.jpg"); */
}
.navbar_but {
  position: absolute;
  right: 0;
  background-color:  rgba(170, 120, 120, 0.8); 
  /* margin: 1px 5px 15px 0; */
  /* z-index: 15;  нельзя!!!*/
  /* z-index: 1001; */
  /* display: table-cell; */
  /* display: inline-block; */
  /* vertical-align:middle;  */
  /* margin-left: auto;
  margin-right: 5px; */

}
.case {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sideright {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  min-height: 70vh;
  right: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color:  rgba(233, 200, 200, 0.8); 
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  z-index: 1000;
  position: absolute;
}
.navbar_button {
  padding: 10px 16px;
  font-size: 17px;
  border-radius: 8px;
  border: 1px solid grey;
  border-style: outset;
  font-weight: bold;
  color: rgb(73, 73, 73);
  cursor: pointer;
  box-shadow: 1px 1px 1px gray;
}
.navbar h6 {
  font-size: 18px;
  color: rgb(36, 36, 36);
}
.link {
  text-decoration: none;
}
.link:hover {
  color: orangered;
  cursor: pointer;
}
.navbar_row {
  margin: 15px auto;
}
